---
  globals:
    # Sails services are globally-accessible by name.
    # See http://sailsjs.org/documentation/concepts/services
    NorthstarService: false
    PhoenixService: false
    HelpersService: false
    MessageBuilderService: false
    RabbitMQService: false
    # Models are exposed as global variables using their globalId.
    # See http://sailsjs.org/documentation/concepts/globals#/models-and-services
    UserPassword: false
